*{
    margin: 0;
}

.navbar{
    height: 40px;
    width: 1300px;
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    position: fixed;
    background-color: white;
}


.box2{
   width: 500px;
   display: flex;
   justify-content: flex-end;
}



.nav-drop{
    margin-left: 50px;
    width: 900px;
    font-size: 25px;
    font-weight: 700;
}

.signup{
    margin-right: 40px;
    padding-top: 10px;
}

.color:hover{
    color: blue;
}

.login{
    margin-right: 40px;
    padding-top: 10px;
}

.get{
    margin-right: 40px;
    padding: 10px;
    background-color: blue;
    color: white;
    font-size: 1rem;
    border: 2px solid blue;
    border-radius: 0.7rem;
}

.get:hover{
    background-color: rgb(51, 51, 182);
}


.bigbox{
    height: 500px;
    display: flex;
    background-color: rgb(53, 44, 44);
    padding-top: 50px;
}

.onebox{
    background-color: rgb(53, 44, 44);
    color: white;
    padding: 48px;
}

.bigtext{
    font-size: 40px;
}

.smalltext{
    font-size: 16px;
}

.buttons{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.try{
   font-size: 1.2rem;
   width: 150px;
   height: 50px;
   color: black;
   background-color: rgb(34, 53, 223);
   display: flex;
   align-items: center;
   border-radius: 10px;
   padding: 10px;
}

.purchas{
    text-decoration: underline;
    font-weight: 500;
}

.secbox{
    width: 1300px;
    background-color: rgb(31, 26, 26);
    padding: 48px;
}


.text{
    padding-top: 72px;
    padding-bottom: 72px;
    padding-left: 105px;
    padding-right: 105px;
    background-color:rgba(230, 230, 224, 0.514);
    text-align: center;
}

.largetext{
    font-size: 2.5rem;
    font-weight: 500;
}

.shorttext{
    font-size: 1.2rem;
    font-weight: 600;
}

.radio{
    height: 65px;
    padding-top: 5.6px;
    padding-left: 24px;
    padding-bottom: 16px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

input{
    margin-left: 15px;
}


.obox{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 70px;
}

.one{
    height: 650px;
    background-color:rgba(230, 230, 224, 0.514) ;
    text-align: left;
    width: 400px;
    border-radius: 10px;
    padding-left: 40px;
    margin-left: 10px;
}

.up{
    height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.element1{
    color: rgba(85, 68, 68, 0.753);
}

.element2{
    font-size: 2rem;
    font-weight: 700;
}

.element3{
    font-size: 1.5rem;
    font-weight: 600;
}

.free{
    background-color: blue;
    padding-left: 24px; 
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    width: 100px;
    border-radius: 10px;
}

.buy{
    text-decoration: underline;
    font-size: 1.1rem;
}

.two{
    height: 650px;
    background-color:rgba(230, 230, 224, 0.514) ;
    text-align: left; 
    width: 400px;
    border-radius: 10px;
    padding-left: 40px;
    margin-left: 10px;
}

.three{
    height: 650px;
    background-color:rgba(230, 230, 224, 0.514) ;
    text-align: left;
    width: 400px;
    border-radius: 10px;
    padding-left: 40px;
    margin-left: 10px;
}


.foot{
    height: 600px;
    background-color: black;
    color: white;
    display: flex;
    padding-top: 90px;
    
}

.fdrop{
    font-size: 1.5rem;
}


.fone{
    margin-left: 110px;
}

