*{
    margin: 0;
}

.navbar{
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    position: sticky;
}


.box2{
   width: 500px;
   display: flex;
   justify-content: flex-end;
}



.nav-drop{
    margin-left: 50px;
    width: 900px;
    font-size: 25px;
    font-weight: 700;
}

.signup{
    margin-right: 40px;
    padding-top: 10px;
}

.color:hover{
    color: blue;
}

.login{
    margin-right: 40px;
    padding-top: 10px;
}

.get{
    margin-right: 40px;
    padding: 10px;
    background-color: blue;
    color: white;
    font-size: 1rem;
    border: 2px solid blue;
    border-radius: 0.7rem;
}

.get:hover{
    background-color: rgb(51, 51, 182);
}


.bigbox{
    height: 500px;
    display: flex;
    background-color: rgb(53, 44, 44);
}

.onebox{
    background-color: rgb(53, 44, 44);
    color: white;
    padding: 48px;
}

.bigtext{
    font-size: 40px;
}

.smalltext{
    font-size: 16px;
}

.buttons{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.try{
   font-size: 1.2rem;
   width: 150px;
   height: 50px;
   color: black;
   background-color: rgb(34, 53, 223);
   display: flex;
   align-items: center;
   border-radius: 10%;
   padding: 10px;
}

.purchas{
    text-decoration: underline;
    font-weight: 500;
}

.secbox{
    width: 1300px;
    background-color: rgb(31, 26, 26);
    padding: 48px;
}