*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    border-radius: 10px; 
}

.calci{
    height: 700px;
    width: 480px;
    background-color: rgba(35, 203, 209, 0.384);
    border-radius: 10px; 
}

.equation{
    background-color: rgba(35, 203, 209, 0.384);
    height: 150px;
    border-radius: 10px; 
    font-size: 50px;
    color: red;
}

.keys{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.box{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    font-size: 50px;
}