*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(142, 26, 146);
     display: flex;
     flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

h1{
    margin-bottom: 50px;
    font-size: 60px;
}

.gettodo{
    height: 150px;
    width: 550px;
    background-color: rgb(56, 45, 45);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#text{
    height: 50px;
    width: 300px;
    border: 5px solid rgb(165, 42, 144);
    border-radius: 5px;
    background-color: rgba(56, 35, 35, 0.507);
    color: white;
    font-size: 20px;
}

#text::placeholder{
    font-size: 20px;
    color: rgba(0, 255, 255, 0.281);
    padding-left: 10px;
}

#addbtn{
    padding: 18px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: greenyellow;
    font-size: 20px;
    cursor: pointer;
}

.showtodo{
    background-color: rgb(56, 45, 45);
    margin-top: 50px;
    border: none;
    border-radius: 10px;
}

.eachtodo{
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    color: white;
    display: flex;
    max-width: 500px;
}

#todo{
    zoom: 1.5;
    margin-right: 5px;
}

.dbtn{
    margin-left: auto;
    padding: 10px;
    font-size: 20px;
    background-color: red;
    color: greenyellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}